/*** Restart style for browser ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*** Fonts ***/
body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}


/*** Style background ***/
body {
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

/*** Style for header ***/
/*
header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #4e036b 0%, #e743d9 50.52%, #10b0d8 100%);
    
    border-radius: 50%;

    display: flex;
    padding: 4px;
    
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}
*/

#f1-logo {
    background: url(https://f1esports.com/bundles/f1microsite/images/esports-red.png) no-repeat;
    background-size: contain;
    width: 242px;
    height: 30px;
    text-indent: 100%;
    overflow: hidden;
    margin: 10px 5px;
    display: block;
}

.video div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 25px;

}

.video div iframe{
    padding-top: 4px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #4e036b 0%, #e743d9 50.52%, #10b0d8 100%);
}


/*** Style content page ***/
main {
    max-width: 1215px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
}


/*** Style for sections ***/
section {
    color: white;
    background-image: linear-gradient(90deg, #4e036b 0%, #e743d9 50.52%, #10b0d8 100%);
    padding-top: 4px;
    border-radius: 10px;
    margin-top: 25px;
}

section div {
    background-color: #1c1c22;
    /*background-color: #2A2634;*/
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

/** Style text for sections **/
section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18;
    color: #A1A1AA;
}

/** style list sections **/
section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

/** style images for sections **/
.games-list img {
    width: 100px;
    border-radius: 8px;
}

.download-list img {
    width: 70px;
}
.download-list img.steam-logo {
    width: 58px;
}
.download-list img.playstore-logo {
    width: 65px;
}
.download-list img.apple-logo {
    width: 55px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    background-image: linear-gradient(90deg, #4e036b 0%, #e743d9 50.52%, #10b0d8 100%);
    padding: 1.5px;
}

/*** Style Animations ***/

/** Animations header **/
/*
header div {
    animation: fromTop .7s .2s backwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        ransform: translateY(0);
    }
}
*/

/** Animation Video **/
main .video{
    animation: fromVideo .7s .2s backwards;
}

@keyframes fromVideo {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/** Animations sections **/

main section {
    animation: fromBottom 1s backwards;
}

main section:nth-child(1) {
    animation-delay: .3s;
}
main section:nth-child(2) {
    animation-delay: .6s;
}
main section:nth-child(3) {
    animation-delay: .9s;
}
main section:nth-child(4) {
    animation-delay: 1.2s;
}
main section:nth-child(5) {
    animation-delay: 1.5s;
    margin-bottom: 50px;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

